/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.anime_card {
	overflow: hidden;
}

.anime_card img {
	-webkit-transition: 0.5s;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	transition: 0.5s;
}

.anime_card:hover img {
	-webkit-filter: blur(1px);
	filter: blur(1px);
	opacity: 0.9;
}

.anime_card:hover .un_topTopics_item_text {
	opacity: 0.8;
}

/*全共通*/

.bgextend {
	-webkit-animation-name: bgextendAnimeBase;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: bgextendAnimeBase; /*　はみ出た色要素を隠す　*/
	opacity: 0;
	overflow: hidden;
	position: relative;
}

/*中の要素*/

.bgappear {
	-webkit-animation-name: bgextendAnimeSecond;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0.6s;
	-webkit-animation-fill-mode: forwards;
	animation-delay: 0.6s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: bgextendAnimeSecond;
	opacity: 0;
}

/*左から右*/

.bgLRextend::before {
	-webkit-animation-name: bgLRextendAnime;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 1.0s;
	animation-fill-mode: forwards;
	animation-name: bgLRextendAnime;
	background-color: #666;
	content: "";
	height: 100%;
	position: absolute;
	width: 100%; /*伸びる背景色の設定*/
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/

.bgappearTrigger,
.bgLRextendTrigger {
	opacity: 0;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow: auto;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #ffffff;
	color: #3c3c3c;
	font-family: 'Shippori Mincho', serif;
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.5;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

h2,
h3,
h4,
h5 {
	font-weight: normal;
}

h2 {
	font-size: 3.2rem;
	margin: 0;
}

h3 {
	font-size: 18px;
	margin-bottom: 20px;
}

li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

em {
	font-style: initial;
}

button:focus {
	outline: 0;
}

.info_cat__list li a.current {
	color: #0247B9;
}

.page-numbers .current {
	color: #131313;
}

.ly_top_inner {
	margin: 0 auto;
	max-width: 1200px;
	padding-left: 16px;
	padding-right: 16px;
}

.ly_submv_inner {
	margin: 0 auto;
	max-width: 1200px;
}

.ly_inner {
	margin: 0 auto;
	max-width: 1040px;
}

li {
	list-style: none;
}

/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
	-webkit-box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	box-sizing: border-box;
	tab-size: 4; /* Prevent adjustments of font size after orientation changes in iOS */
	word-break: normal;
}

*,
::before,
::after { /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
	-webkit-box-sizing: inherit;
	background-repeat: no-repeat;
	box-sizing: inherit;
}

::before,
::after {
	text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
	vertical-align: inherit;
}

* { /* Reset `padding` and `margin` of all elements */
	margin: 0;
	padding: 0;
}

/* # =================================================================
	 # General elements
	 # ================================================================= */

hr { /* Show the overflow in Edge and IE */
	height: 0;
	overflow: visible; /* Add the correct box sizing in Firefox */
}

details,
main {
	display: block; /* Render the `main` element consistently in IE. */
}

summary {
	display: list-item; /* Add the correct display in all browsers */
}

small {
	font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
	display: none; /* Add the correct display in IE */
}

abbr[title] {
	-webkit-text-decoration: underline dotted;
	border-bottom: none; /* Remove the bottom border in Chrome 57 */ /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
	text-decoration: underline;
	text-decoration: underline dotted;
}

a {
	background-color: transparent; /* Remove the gray background on active links in IE 10 */
	color: inherit;
	text-decoration: none;
}

a:active,
a:hover {
	outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
	font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
	font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* # =================================================================
	 # Forms
	 # ================================================================= */

input {
	border-radius: 0;
}

/* Replace pointer cursor in disabled elements */

[disabled] {
	cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
	-webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
	outline-offset: -2px; /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
	overflow: auto; /* Internet Explorer 11+ */
	resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
	font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
	font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
	overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
	text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
	color: inherit;
	cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/* Replace focus style removed in the border reset above */

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */

button,
input,
select,
textarea {
	background-color: transparent;
	border-style: none;
}

/* Style select like a standard input */

select {
	-moz-appearance: none; /* Firefox 36+ */
	-webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
	display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
	color: currentColor; /* Internet Explorer 11+ */
}

legend {
	border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
	color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
	display: table; /* Correct the text wrapping in Edge and IE */
	max-width: 100%; /* Correct the text wrapping in Edge and IE */
	max-width: 100%; /* Correct the text wrapping in Edge and IE */
	white-space: normal; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button { /* Correct the inability to style clickable types in iOS and Safari */
	-webkit-appearance: button;
	color: inherit;
	font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
	 # Specify media element style
	 # ================================================================= */

img {
	border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */

progress {
	vertical-align: baseline;
}

/* # =================================================================
	 # Accessibility
	 # ================================================================= */

/* Hide content from screens but not screenreaders */

/* Specify the progress cursor of updating elements */

[aria-busy="true"] {
	cursor: progress;
}

/* Specify the pointer cursor of trigger elements */

[aria-controls] {
	cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */

[aria-disabled] {
	cursor: default;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.breadcrumbs {
	margin-bottom: 3.375em;
	margin-top: 1.25em;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.bl_viewMore_btn {
	-webkit-transition-delay: 0.9s;
	-webkit-transition: 0.8s;
	position: relative;
	transition: 0.8s;
	transition-delay: 0.9s;
}

.bl_viewMore_btn::after {
	-webkit-transition-delay: 0.8s;
	-webkit-transition: 0.5s;
	background-color: #3c3c3c;
	bottom: -10px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	transition: 0.5s;
	transition-delay: 0.8s;
	width: 0;
}

.bl_viewMore_btn.bl_viewMore_btn--white::after {
	background-color: #d9d9d9;
}

.bl_viewMore_btn:hover::after {
	width: 100%;
}

.bl_viewMore_btnCircleBg {
	left: -48px;
	position: absolute;
	top: -40px;
}

.bl_viewMore_btnCircleBg circle {
	fill: transparent;
	stroke: #d9d9d9;
	stroke-width: 1;
	stroke-dasharray: 366 366;
	stroke-dashoffset: 0; /* keyframes名 速さ 繰り返し 開始までの間隔 */
}

.bl_viewMore_btn.bl_viewMore_btn--white .bl_viewMore_btnCircleBg circle {
	stroke: #545454;
}

.bl_viewMore_btnCircle {
	left: -48px;
	position: absolute;
	top: -40px;
}

.bl_viewMore_btnCircle {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.bl_viewMore_btnCircle circle {
	fill: transparent;
	stroke: #b4b4b4;
	stroke-width: 1;
	-webkit-transition: stroke-dashoffset 2.4s ease;
	stroke-dasharray: 366 366;
	stroke-dashoffset: 366;
	transition: stroke-dashoffset 2.4s ease; /* keyframes名 速さ 繰り返し 開始までの間隔 */
}

.bl_viewMore_btn.bl_viewMore_btn--white .bl_viewMore_btnCircle circle {
	stroke: #d9d9d9;
}

.bl_viewMore_btn:hover .bl_viewMore_btnCircle circle {
	stroke-dasharray: 366 366;
	stroke-dashoffset: 0;
	stroke: #545454;
}

.bl_viewMore_btn.bl_viewMore_btn--white:hover .bl_viewMore_btnCircle circle {
	stroke-dasharray: 366 366;
	stroke-dashoffset: 0;
	stroke: #b4b4b4;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.bl_card_list {
	-ms-flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.bl_card_item {
	margin-bottom: 1em;
	position: relative;
	width: 33%;
}

.bl_card_item img {
	width: 100%;
}

.bl_card_list.bl_card_list--size3 {
	margin-left: -24px;
}

.bl_card_list.bl_card_list--size3 .bl_card_item {
	padding-left: 24px;
	width: 33%;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.ly_footer {
	background-color: #222;
	margin-top: 5em;
	padding-bottom: 20px;
	padding-top: 78px;
}

.hp_btGray {
	border-top: 1px solid #777 !important;
}

.ly_footer_inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 940px;
	padding-left: 15px;
	padding-right: 15px;
}

.ly_footer_contents {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	padding-bottom: 2em;
}

.ly_footer_side
.bl_footerNav {
	-ms-flex-pack: distribute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

.bl_footerNav_item {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-bottom: 1em;
}

.bl_footerNav_item > *:last-child {
	margin-bottom: 0;
}

.bl_footerNav_item:last-child .bl_footerNav_link::after {
	content: none;
}

.bl_footerNav_link {
	border-bottom: 1px solid #fafafa;
	color: #fff;
	display: block;
	display: inline-block;
	padding-bottom: 4px;
	position: relative;
	text-decoration: none;
}

.bl_footerNav_link:focus,
.bl_footerNav_link:hover {
	opacity: 0.8;
}

.bl_footer_logo {
	text-align: center;
}

.bl_footerChildNav { /* css-wipeではスタイリングなし */
	margin-left: 1.25em;
}

.bl_footerChildNav_ttl {
	color: #fafafa;
	margin-left: 1.25em;
	margin-top: 0.8em;
	position: relative;
}

.bl_footerChildNav_ttl::after {
	-webkit-transform: translate(-150%, -50%);
	-ms-transform: translate(-150%, -50%);
	background-color: #fafafa;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translate(-150%, -50%);
	width: 12px;
}

.bl_footerChildNav_link {
	color: #ddd;
	font-size: 1.4rem;
	text-decoration: none;
}

.bl_footerChildNav_link:focus,
.bl_footerChildNav_link:hover {
	text-decoration: underline;
}

.bl_footerNav:first-of-type {
	margin-right: 120px;
}

.bl_footerNav:nth-of-type(2) {
	margin-right: 120px;
}

.ly_footer_body nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bl_footerSns {
	color: #fafafa;
	margin-top: 32px;
	text-align: center;
}

.bl_footerLang {
	margin-top: 54px;
}

.bl_footerLang_list {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.bl_footerLang_item {
	max-width: 24px;
}

.el_footerCopyright {
	color: #ddd;
	display: block;
	font-size: 12px;
	text-align: center;
}

.bl_footerSns {
	position: relative;
	z-index: 0;
}

/*
  .bl_footerSns::after{
	  content: "";
	  background-image: url(../../images/common/insta_icon.png);
	  width: 30px;
	  height: 100px;
	  background-size: contain;
	  background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -26%);
	z-index: -1;
  }
  */

.bl_footerSns_list {
	margin-top: 0.4em;
}

.bl_footerSns_item {
	display: inline-block;
	max-width: 40px;
	position: relative;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.ly_header {
	-webkit-box-shadow: 0px 0px 2px;
	background-color: #fff;
	box-shadow: 0px 0px 2px;
	padding-top: 30px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.ly_subheader {
	padding-bottom: 20px;
}

.ly_subheader .bl_headerUtils {
	margin-bottom: 0;
}

.ly_header_inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1640px;
	padding-left: 25px;
	padding-right: 40px;
}

.bl_headerUtils {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.bl_headerUtils_logo {
	width: 150px;
}

.bl_headerUtils .el_btn {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 10px 20px;
	width: auto;
}

.bl_headerNav:first-of-type {
	margin-right: 140px;
}

.bl_headerNav_item {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-bottom: 2em;
}

.bl_headerNav_item:last-child .bl_headerNav_link::after {
	content: none;
}

.bl_headerNav_link {
	-webkit-transition: .25s;
	border-bottom: 1px solid #3c3c3c;
	color: #222;
	display: inline-block;
	font-size: 2.4rem;
	position: relative;
	text-decoration: none;
	transition: .25s;
}

.bl_headerChildNav {
	-ms-flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	margin-left: 1.25em;
}

.bl_headerChildNav_item {
	margin-right: 28px;
}

.bl_headerChildNav_link {
	font-size: 1.8rem;
	white-space: nowrap;
}

.bl_headerChildNav_ttl {
	font-size: 1.8rem;
	margin-left: 1.25em;
	margin-top: 1em;
	position: relative;
}

.bl_headerChildNav_ttl::after {
	-webkit-transform: translate(-150%, -50%);
	-ms-transform: translate(-150%, -50%);
	background-color: #3c3c3c;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translate(-150%, -50%);
	width: 12px;
}

.bl_headerChildNav--language {
	margin-top: 1em;
}

.bl_headerNav_item--language {
	margin-top: 8em;
}

.bl_headerNav_logo {
	left: 2%;
	position: absolute;
	top: 10%;
}

.lv2-ttl {
	-webkit-box-sizing: border-box;
	background: #53585f;
	border-radius: 36px;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	padding: 10px 42px;
}

.lv3-ttl {
	font-size: 2.4rem;
}

.lv3-ttl__under-line {
	border-bottom: 1px solid #0247B9;
	display: inline-block;
	padding-bottom: 0.25em;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.el_tagItem {
	background-color: #3c3c3c;
	color: #fafafa;
	display: inline-block;
	padding: 4px 16px;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.hp_textCenter {
	text-align: center;
}

.hp_spNone {
	display: none !important;
}

.hp_pcNone {
	display: block !important;
}

.hp_rowReverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.hp_textRight {
	text-align: right;
}

.hp_textLeft {
	text-align: left;
}

.hp_en {
	font-family: 'Lora', serif;
}

.hp_ja {
	font-family: 'Shippori Mincho', serif;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.un_news_list {
	padding-left: 24px;
	padding-right: 24px;
}

.un_news_item {
	margin-bottom: 1em;
}

.un_news_item_link {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.un_news_item_Tag {
	display: table;
	margin-right: 24px;
	max-height: 28px;
}

.un_newsitem_date {
	margin-right: 28px;
}

.un_news_item_decoration {
	-webkit-transition: 0.2s;
	border-bottom: 1px solid #000;
	margin-right: 24px;
	transition: 0.2s;
	width: 200px;
}

.un_news_item_ttl {
	margin-bottom: 0;
}

.un_news_categoryList {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.un_news_categoryItem {
	margin-bottom: 4em;
	margin-right: 1em;
}

.un_Products_item_ttl {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: #fafafa;
	font-size: 3.6rem;
	left: 50%;
	letter-spacing: 0.05em;
	line-height: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.un_Products_item_ttl .small {
	font-size: 0.6em;
}

.un_Products_item_ttl .icon {
	line-height: 0.8;
}

.un_Products_item_ttl .icon img {
	line-height: 1;
	width: 20px;
}

.un_Products_lv2heading {
	position: relative;
}

.un_Products_lv2heading--1 {
	font-size: 120px;
	line-height: 1;
	margin-bottom: 0.8em;
	margin-top: 1em;
}

.un_Products_lv2heading--1::after {
	-webkit-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	background-color: #3c3c3c;
	bottom: 0;
	content: "";
	height: 5px;
	left: 6px;
	position: absolute;
	transform: translateY(-12px);
	width: calc(100% - 18px);
}

.un_Products_lv2heading--2 {
	margin-bottom: 3em;
	margin-top: 4.8em;
}

.un_Products_lv2heading--2 span {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: #E8E8E8;
	font-size: 12rem;
	left: 50%;
	opacity: 0.7;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.un_Products_lv2heading--3 {
	margin-bottom: 2em;
	margin-top: 1.8em;
}

.un_Products_lv2heading--3 span {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	color: #E8E8E8;
	font-size: 10rem;
	opacity: 0.7;
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translate(0, -50%);
	white-space: nowrap;
}

.un_Products_lv2heading--3 span::after {
	-webkit-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	background-color: rgba(232, 232, 232, 0.7);
	bottom: 0;
	content: "";
	display: inline-block;
	height: 5px;
	left: 6px;
	position: absolute;
	transform: translateY(-12px);
	width: calc(100% - 18px);
}

.un_Products_lv2heading--3 img {
	width: 100%;
}

.un_productsLinkbox {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #191919;
	color: #fafafa;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	max-width: 786px;
	padding: 2em;
}

.un_productsLinkbox_txt {
	text-align: center;
	width: 50%;
}

.un_productsLinkbox_title {
	font-size: 2.4rem;
	margin-bottom: 40px;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.bl_top_lv2heading {
	font-size: 6rem;
	line-height: 1;
	margin-bottom: 0.3em;
}

.bl_top_lv2headingDecoration {
	display: block;
	font-size: 1.2rem;
	line-height: 1;
	padding: 1em;
}

.un_topMv {
	margin-top: 5.2em;
	padding: 0 24px;
}

/*---------------------------------
  topTopics
---------------------------------*/

.ly_topTopics {
	margin-bottom: 4em;
	padding-top: 72px;
}

.un_topTopics_list {
	-ms-flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	margin-left: -16px;
	padding-bottom: 50px;
	position: relative;
}

.un_topTopics_list::after {
	background-color: #3c3c3c;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	margin-left: 32px;
	position: absolute;
	width: calc(100% - 32px);
}

.un_topTopics_item_tagItem {
	background-color: #3c3c3c;
	color: #fafafa;
	display: inline-block;
	margin-bottom: 12px;
	margin-top: 12px;
	padding: 8px 16px;
}

.un_topTopics_item {
	padding-left: 16px;
	width: 33%;
}

/*---------------------------------
  topMiddle
---------------------------------*/

.un_topMiddleImages {
	margin-bottom: 4em;
}

.un_topMiddleImages img {
	width: 100%;
}

/*---------------------------------
  Category
---------------------------------*/

.ly_topCategory {
	padding-bottom: 4em;
}

.ly_topCategory_inner {
	margin: 0 auto;
	max-width: 1200px;
}

.un_topCategory_list {
	-ms-flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	margin-left: -16px;
}

.un_topCategory_item {
	margin-bottom: 16px;
	padding-left: 16px;
	position: relative;
	width: 25%;
}

.un_topCategory_item img {
	height: 100%;
	width: 100%;
}

.un_topCategory_item_ttl {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: #fafafa;
	font-size: 2.6rem;
	left: 50%;
	padding-left: 32px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

/*---------------------------------
  news
---------------------------------*/

.ly_topNews {
	margin-bottom: 4em;
}

.ly_topNews_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	padding-left: 16px;
	padding-right: 16px;
}

.ly_topNews_head {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	background-color: #EDEDED;
	flex: 1;
	padding-left: 32px;
	position: relative;
}

.ly_topNews_head::after {
	background-color: #EDEDED;
	content: "";
	height: 160%;
	left: -20vw;
	max-width: 1000px;
	position: absolute;
	top: -10%;
	width: 120vw;
	z-index: -2;
}

.ly_topNewsbody {
	-webkit-box-flex: 3;
	-ms-flex: 3;
	background-color: #f5f5f5;
	flex: 3;
	padding-bottom: 32px;
	padding-left: 116px;
	padding-top: 32px;
	position: relative;
	position: relative;
}

.ly_topNewsbody::after {
	background-color: #f5f5f5;
	content: "";
	height: 100%;
	max-width: 1000px;
	position: absolute;
	right: -100%;
	top: 0;
	width: 120vw;
	z-index: -2;
}

.ly_topNews_categoryItem {
	margin-bottom: 12px;
}

.bl_topNews_item {
	margin-bottom: 0.75em;
}

.bl_topNews_item_content {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bl_topNews_item_decoration {
	-webkit-transition: 0.2s;
	border-bottom: 1px solid #000;
	transition: 0.2s;
	width: 200px;
}

.bl_topCategory_item_ttl {
	margin-bottom: 0;
	padding-bottom: 0;
}

.bl_topNewsitem_date {
	padding-right: 32px;
}

.bl_topNews_item_decoration {
	margin-right: 32px;
}

.bl_topNews_item_ttl {
	margin-bottom: 0;
	padding: 0;
}

.bl_topNews_item_Tag {
	font-size: 1.4rem;
	margin-bottom: 12px;
	margin-top: 12px;
}

.bl_topNews_categoryList {
	margin-bottom: 52px;
}

/*---------------------------------
  私たちについて
---------------------------------*/

.ly_topAboutUs {
	background-image: url(../images/top/middle_visual.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.ly_topAboutUs_body {
	padding-bottom: 112px;
	padding-top: 136px;
}

.bl_topAboutUs_lv2heading {
	color: #fafafa;
	text-align: center;
}

.bl_topAboutUs_btnWrapper {
	margin-top: 3.875em;
	text-align: center;
}

.bl_topAboutUs_btn {
	-webkit-transition: 0.8s;
	background-color: #3c3c3c;
	color: #fafafa;
	padding: 20px 112px;
	transition: 0.8s;
}

.bl_topAboutUs_btn:hover {
	background-color: #fafafa;
	color: #3c3c3c;
	opacity: 0.8;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.c-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-decoration: none;
}

.p-hamburger {
	-webkit-box-shadow: 0 0 2rem transparent;
	-webkit-transition: all .3s ease-in-out;
	border: 1px solid #f9d8ae;
	border-radius: 50%;
	box-shadow: 0 0 2rem transparent;
	height: 48px;
	margin: auto;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s ease-in-out;
	width: 48px;
}

.p-hamburger:hover,
.p-hamburger:focus {
	-webkit-box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line {
	background-color: transparent;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
	background-color: #f9d8ae;
	top: 0;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.u-visuallyHidden {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/*---------------------------------
	コメント
  ---------------------------------*/

.btn-trigger {
	cursor: pointer;
	height: 36px;
	margin-top: 8px;
	position: relative;
	width: 40px;
	z-index: 9999;
}

.btn-trigger::before {
	-webkit-transform: translate(-50%, -120%);
	-ms-transform: translate(-50%, -120%);
	color: #3c3c3c;
	content: "MENU";
	font-size: 1.4rem;
	left: 50%;
	position: absolute;
	top: 0%;
	transform: translate(-50%, -120%);
}

.btn-trigger span {
	background-color: #3c3c3c;
	border-radius: 4px;
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%;
}

.btn-trigger span::before {
	border-radius: 50%;
	content: "・";
	font-size: 1rem;
	height: 8px;
	left: 0;
	line-height: 1;
	margin-left: -8px;
	margin-top: -4px;
	position: absolute;
	top: 0;
	width: 8px;
}

.btn-trigger,
.btn-trigger span {
	-webkit-transition: all .5s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	transition: all .5s;
}

.btn-trigger span:nth-of-type(1) {
	top: 0;
}

.btn-trigger span:nth-of-type(2) {
	top: 16px;
}

.btn-trigger span:nth-of-type(3) {
	bottom: 0;
}

/*=============================
#btn19
=============================*/

#btn19::after {
	-webkit-transition: all .75s;
	border: 1px solid transparent;
	border-radius: 50%;
	content: '';
	display: none;
	height: 84px;
	left: 50%;
	margin: -45px 0 0 -45px;
	position: absolute;
	top: 50%;
	transition: all .75s;
	width: 84px;
}

#btn19.active span:nth-of-type(1) {
	-webkit-transform: translateY(14px) rotate(-45deg);
	-ms-transform: translateY(14px) rotate(-45deg);
	transform: translateY(14px) rotate(-45deg);
}

#btn19.active span:nth-of-type(2) {
	-webkit-animation: active-btn19-bar02 .8s forwards;
	animation: active-btn19-bar02 .8s forwards;
	left: 60%;
	opacity: 0;
}

#btn19.active span:nth-of-type(3) {
	-webkit-transform: translateY(-20px) rotate(45deg);
	-ms-transform: translateY(-20px) rotate(45deg);
	transform: translateY(-20px) rotate(45deg);
}

#btn19.active::after {
	-webkit-animation: active-btn19 .7s .25s forwards;
	animation: active-btn19 .7s .25s forwards;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.bl_headerNavWrapper {
	-webkit-transition: 0.9;
	display: none;
	height: 100vh;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	transition: 0.9;
	width: 100%;
	z-index: 999;
}

.bl_headerNavBg {
	-webkit-transition: 0.3s;
	background-color: #fafafa;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 999;
}

.active.bl_headerNavBg {
	height: 100vh;
	opacity: 1;
	width: 100%;
}

.bl_headerNavWrapper.active {
	display: block;
}

.bl_headerNavWrapper nav {
	-webkit-transition: 0.9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 20%;
	opacity: 0;
	position: absolute;
	top: 8%;
	transition: 0.9;
}

.bl_headerNavWrapper.active nav {
	opacity: 1;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.un_topSlider .slick-slide {
	margin: 0 0.1%;
}

.un_topSlider img {
	-o-object-fit: cover;
	height: 39vw;
	object-fit: cover;
	width: 100%;
}

.un_topSlider_item img {
	opacity: 0.8;
}

.slick-current .un_topSlider_item img {
	opacity: 1;
}

.un_topSlider li figcaption {
	margin: 10px 0 0;
}

.un_topSlider_item {
	position: relative;
}

.un_topSlider_item_txt {
	-webkit-transition: 0.9s;
	-webkit-transition-delay: 0.9s;
	color: #fafafa;
	left: 12%;
	opacity: 0;
	position: absolute;
	top: 20%;
	transition: 0.9s;
	transition-delay: 0.9s;
}

.slick-current .un_topSlider_item_txt {
	left: 10%;
	opacity: 1;
}

.un_topSlider_item_ttl {
	font-size: 8rem;
	font-style: italic;
	line-height: 1.2;
}

.un_topSlider_item_tag {
	display: block;
	font-size: 3.2rem;
}

.un_topSlider_item_description {
	font-size: 2rem;
	line-height: 1.6;
	margin-top: 50px;
	text-shadow: 1px 2px 3px #808080;
}

.slick-prev {
	display: none;
}

.next.slick-arrow {
	border-radius: 50%;
	color: #fafafa;
	font-size: 2.6rem;
	line-height: 1;
	padding: 1.6em;
	position: absolute;
	right: 10%;
	top: 40%;
}

.next.slick-arrow .bl_viewMore_btnCircle {
	left: 0;
	position: absolute;
	top: 0;
}

.next.slick-arrow .bl_viewMore_btnCircleBg {
	left: 0;
	position: absolute;
	top: 0;
}

.next.slick-arrow .bl_viewMore_btnCircleBg circle {
	fill: transparent;
	stroke: #787878;
	stroke-width: 1;
	stroke-dasharray: 366 366;
	stroke-dashoffset: 0; /* keyframes名 速さ 繰り返し 開始までの間隔 */
}

.next.slick-arrow .bl_viewMore_btnCircle {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.next.slick-arrow .bl_viewMore_btnCircle circle {
	fill: transparent;
	stroke: #fff;
	stroke-width: 1;
	-webkit-transition: stroke-dashoffset 1.2s ease;
	stroke-dasharray: 366 366;
	stroke-dashoffset: 366;
	transition: stroke-dashoffset 1.2s ease; /* keyframes名 速さ 繰り返し 開始までの間隔 */
}

.next.slick-arrow:hover .bl_viewMore_btnCircle circle {
	stroke-dasharray: 366 366;
	stroke-dashoffset: 0;
	stroke: #fafafa;
	stroke: #fff;
}

/*---------------------------------
  スライド数
---------------------------------*/

.slick-num {
	padding-right: 15.8vw;
	position: relative;
	text-align: right;
}

.slick_nowCount::after {
	-webkit-transform: translate(110%, -50%);
	-ms-transform: translate(110%, -50%);
	-webkit-animation: pathmove 1.9s ease-in-out infinite;
	-webkit-animation-delay: 2s;
	animation: pathmove 1.9s ease-in-out infinite;
	animation-delay: 2s;
	background-color: #3c3c3c;
	content: "";
	display: inline-block;
	height: 1px;
	margin-top: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(110%, -50%);
	width: 68px;
}

.slick_nowCount {
	margin-right: 80px;
	position: relative;
}

.slick_nowCountBar {
	-webkit-animation: pathmove 1.4s ease-in-out infinite;
	animation: pathmove 1.4s ease-in-out infinite;
	background-color: #3c3c3c;
	display: inline-block;
	height: 1px;
	margin-top: -1px;
	position: relative;
	top: -5px;
}

@media screen {

[hidden~="screen"] {
	display: inherit;
}

[hidden~="screen"]:not(:active):not(:focus):not(:target) {
	clip: rect(0 0 0 0) !important;
	position: absolute !important;
}

}

@media screen and (min-width: 575px) {

.bl_topNews_item_link:hover .bl_topNews_item_decoration {
	width: 220px;
}

}

@media screen and (min-width: 768px) {

body {
	font-size: 1.6rem;
}

.hp_spNone {
	display: block !important;
}

.hp_pcNone {
	display: none !important;
}

}

@media (max-width: 991px) {

.ly_footer_body nav {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.un_Products_item_ttl {
	font-size: 3vw;
}

.ly_topAboutUs_body {
	padding-bottom: 56px;
	padding-top: 68px;
}

.un_topSlider img {
	height: 48vw;
}

}

@media screen and (max-width: 900px) {

.ly_footer_contents {
	display: block;
}

.ly_footer_body {
	margin-top: 2em;
}

.bl_footerLang_list {
	max-width: 200px;
}

}

@media (max-width: 767px) {

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.8rem;
}

.bl_card_list.bl_card_list--size3 .bl_card_item {
	width: 50%;
}

.bl_footerLang {
	margin-top: 24px;
}

.bl_headerNav_item--language {
	margin-top: 2em;
}

.un_Products_item_ttl {
	font-size: 3rem;
}

.un_Products_lv2heading--1 {
	font-size: 15vw;
	margin-top: 2em;
}

.un_Products_lv2heading--1::after {
	-webkit-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	height: 3px;
	left: 0;
	transform: translateY(-6px);
	width: 100%;
}

.un_productsLinkbox {
	display: block;
	text-align: center;
}

.un_productsLinkbox_txt {
	margin-bottom: 4em;
	width: 100%;
}

.un_topMv {
	margin-top: 8.2em;
}

.ly_topTopics {
	padding-top: 36px;
}

.un_topTopics_list {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.un_topTopics_item {
	margin-bottom: 2em;
	width: 50%;
}

.un_topCategory_item {
	margin-bottom: 2em;
	width: 50%;
}

.ly_topNews_container {
	display: block;
}

.ly_topNews_head {
	padding-bottom: 4em;
	padding-top: 2em;
}

.ly_topNews_head::after {
	display: block;
}

.ly_topNewsbody {
	padding-left: 0;
}

.ly_topNewsbody::after {
	display: none;
}

.ly_topNews_categoryItem {
	padding-right: 1em;
}

.bl_topNews_item_decoration {
	width: 100px;
}

.bl_topNews_categoryList {
	-ms-flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.bl_headerNavWrapper {
	overflow-y: scroll;
}

.bl_headerNavWrapper nav {
	display: block;
}

.un_topSlider .slick-list {
	padding: 0 0% 0 0 !important;
}

.un_topSlider img {
	height: 96vw;
}

.un_topSlider_item_txt {
	padding-right: 1em;
	top: 10%;
}

.un_topSlider_item_ttl {
	font-size: 6.2vw;
}

.un_topSlider_item_description {
	font-size: 2.5vw;
	margin-top: 2em;
}

.next.slick-arrow {
	display: none !important;
}

}

@media screen and (max-width: 640px) {

.slider {
	width: 100%;
}

}

@media (max-width: 575px) {

.bl_card_list.bl_card_list--size3 .bl_card_item {
	width: 100%;
}

.ly_footer {
	padding-top: 48px;
}

.bl_footerChildNav {
	margin-left: 0em;
}

.bl_footerChildNav_ttl {
	margin-left: 0em;
}

.bl_footerChildNav_ttl::after {
	content: none;
}

.bl_footerChildNav_item a {
	font-size: 1.4em;
}

.ly_footer_body {
	display: none;
	margin-top: 3em;
}

.bl_footerNav:first-of-type {
	margin-right: 0;
}

.bl_footerNav:nth-of-type(2) {
	margin-right: 0;
}

.ly_footer_body nav {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	display: block;
	justify-content: space-between;
}

.bl_footerSns {
	margin-top: 18px;
}

.ly_header_inner {
	padding-left: 16px;
	padding-right: 16px;
}

.bl_headerUtils {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	margin-bottom: 0;
	margin-bottom: 20px;
}

.bl_headerUtils_logo {
	margin-left: initial;
	width: 100px;
}

.bl_headerNav_item {
	font-size: 1.6rem;
	margin-bottom: 0.8em;
}

.bl_headerNav_link {
	font-size: 1.8rem;
}

.bl_headerChildNav_item {
	margin-right: 16px;
}

.bl_headerNav_item--language {
	margin-top: 1em;
}

.un_Products_item_ttl {
	font-size: 4rem;
}

.bl_top_lv2heading {
	font-size: 3rem;
}

.un_topMv {
	padding: 0 16px;
}

.un_topTopics_item {
	width: 100%;
}

.un_topTopics_item img {
	width: 100%;
}

.un_topCategory_item_ttl {
	font-size: 1.8rem;
	padding-left: 18px;
}

.bl_topNews_item_decoration {
	width: 0px;
}

.bl_topNewsitem_date {
	padding-right: 24px;
}

.bl_topAboutUs_btn {
	padding: 20px 62px;
}

.btn-trigger::before {
	font-size: 1.2rem;
}

.un_topSlider_item_description {
	font-size: 3.4vw;
	margin-top: 2em;
}

}

@media (max-width: 320px) {

.un_Products_item_ttl {
	font-size: 8vw;
}

.un_topCategory_item {
	width: 100%;
}

.bl_topNews_categoryList {
	display: block;
}

}

@-webkit-keyframes bgextendAnimeBase {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes bgextendAnimeBase {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-webkit-keyframes bgextendAnimeSecond {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@keyframes bgextendAnimeSecond {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@-webkit-keyframes bgLRextendAnime {

0% {
	-webkit-transform-origin: left;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: left;
}

50% {
	-webkit-transform-origin: left;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	transform-origin: left;
}

50.001% {
	-webkit-transform-origin: right;
	transform-origin: right;
}

100% {
	-webkit-transform-origin: right;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: right;
}

}

@keyframes bgLRextendAnime {

0% {
	-webkit-transform-origin: left;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: left;
}

50% {
	-webkit-transform-origin: left;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	transform-origin: left;
}

50.001% {
	-webkit-transform-origin: right;
	transform-origin: right;
}

100% {
	-webkit-transform-origin: right;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: right;
}

}

@-webkit-keyframes circle {

0% {
	stroke-dasharray: 0 366;
}

99.9%,to {
	stroke-dasharray: 366 366;
}

}

@keyframes circle {

0% {
	stroke-dasharray: 0 366;
}

99.9%,to {
	stroke-dasharray: 366 366;
}

}

@-webkit-keyframes active-btn19-bar02 {

100% {
	height: 0;
}

}

@keyframes active-btn19-bar02 {

100% {
	height: 0;
}

}

@-webkit-keyframes active-btn19 {

0% {
	-webkit-transform: rotate(0);
	border-color: transparent;
}

25% {
	border-color: transparent #3c3c3c transparent transparent;
}

50% {
	border-color: transparent #3c3c3c #3c3c3c transparent;
}

75% {
	border-color: transparent #3c3c3c #3c3c3c #3c3c3c;
}

100% {
	-webkit-transform: rotate(-680deg);
	border-color: #3c3c3c;
}

}

@keyframes active-btn19 {

0% {
	-webkit-transform: rotate(0);
	border-color: transparent;
	transform: rotate(0);
}

25% {
	border-color: transparent #3c3c3c transparent transparent;
}

50% {
	border-color: transparent #3c3c3c #3c3c3c transparent;
}

75% {
	border-color: transparent #3c3c3c #3c3c3c #3c3c3c;
}

100% {
	-webkit-transform: rotate(-680deg);
	border-color: #3c3c3c;
	transform: rotate(-680deg);
}

}

@-webkit-keyframes pathmove {

0% {
	opacity: 1;
	width: 0;
}

30% {
	opacity: 0;
	width: 68px;
}

100% {
	opacity: 1;
	width: 68px;
}

}

@keyframes pathmove {

0% {
	opacity: 1;
	width: 0;
}

30% {
	opacity: 0;
	width: 68px;
}

100% {
	opacity: 1;
	width: 68px;
}

}

