@import "settings";


.ly_Contact_inner{
    @include mq(md) { 
        padding-left: 16px;
        padding-right: 16px;
    }
}

/*---------------------------------
  contactCommon
---------------------------------*/
.un_contactContents_wrapper {
    margin: 0 auto 0 auto;
    padding: 2.5% 6.7%;
    width: 86.7%;
    @include mq(md) { 
        padding: 2.5% 3%;
    }
}

/*---------------------------------
  contactTel
---------------------------------*/
.un_contactTel {
    // border-bottom: #707070 solid 1px;
    // padding-bottom: 2em;
}
.un_contactTelContents_wrapper {
    background-color: #191919;
}
.un_contactTel_desc {
    color: #fff;
    text-align: center;
}
.un_contactTel_telephoneNumber {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 64px;
    @include mq(md) { 
        font-size: 8.333vw;
    }
}
.un_contactTel_telephoneNumberDecoration {
    display: inline-block;
    padding-left: 90px;
    position: relative;
    @include mq(md) { 
        padding-left: 11.8%;
    }
}
.un_contactTel_telephoneNumberDecoration::before {
    background-image: url(../../images/contact/telephone.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 22px;
    width: 60px;
    @include mq(md) { 
        height: 54%;
        top: 28%;
        width: 18.9%;
    }
}
.un_contactTel_businessHours {
    color: #fff;
    text-align: center;
    font-size: 30px;
    @include mq(md) { 
        font-size: 3.906vw;
    }
}

/*---------------------------------
  contactForm
---------------------------------*/
.un_contactForm {
    padding-top: 6.7%;
}
.un_contactFormContents_wrapper {
    background-color: #E8E8E8;
    padding-bottom: 6%;
    @include mq(md) { 
        padding-bottom: 60px;
    }
}
.un_contactForm_contents_wrapper {
    margin-top: 2em;
}
.un_contactForm_content_wrapper {
    margin-top: 1.5em;
}
.un_contactForm_content_ttl {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 8px;
    position: relative;
}
.un_contactForm_content_mandatoryTitle::after {
    content: "*必須";
    color: #d91313;
    font-weight: normal;
    font-size: smaller;
    position: absolute;
    right: -40px;
    top: 2px;
}
.un_contactForm_checkbox.un_contactForm_content_mandatoryTitle::after{
    @media screen and (max-width: 767px) {
          content: none;  
    }
}
.un_contactForm_content_input_smallWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.un_contactForm_content_inputDecoration {
    display: inline-block;
    width: 100%;
}
.un_contactForm_content_inputDecorations {
    width: 48%;
    @include mq(md) { 
        width: 100%;
    }
}
.un_contactForm_content_inputDecoration input {
    background-color: #fff;
    border: #707070 solid 1px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    padding: 0.2em 0.5em;
}
.un_contactForm_content_input_confirmWrapper {
    display: flex;
    justify-content: center;
}
.un_contactForm_content_inputDecorationConfirm {
    padding-top: 1.6px;
    width: 30px;
}
.un_contactForm_content_inputDecorationConfirm input {
    height: 14px;
    width: 14px;
}
.un_contactForm_content_ttlConfirm {
    margin-right: 40px;
}
.un_contactForm_btn_wrapper {
    margin-top: 5%;
    text-align: center;
}
.un_contactForm_btn {
    display: inline-block;
    margin: 0 auto;
}

.un_mt08_sp {
    @include mq(md) { 
        margin-top: 8px;
    }
}