@import "settings";

.ly_media {
    margin-bottom: 90px;
}
.ly_sectionContents {
    margin-top: 15px;
}
.ly_media_inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 25px 25px;
}
.bl_media_ttl {
    font-size: 120px;
}
.bl_media_inner {
    background: #E8E8E8;
}
.ly_imgAndTxt {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.bl_mediaVisual_imgBox img {
    max-width: 265px;
}
.bl_mediaVisual_imgBox_catch {
    background: #C43333;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 3px 0;
}
.ly_mediaVisual_infoBox_product {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.ly_mediaVisual_infoBox {
    margin-left: 50px;
}
.bl_mediaVisual_infoBox_productName {
    font-size: 32px;
    margin-bottom: 0;
}
.bl_mediaVisual_infoBox_category {
    border: 1px solid;
    margin-left: 35px;
    margin-bottom: 5px;
}
.bl_mediaVisual_infoBox_ttl {
    font-size: 16px;
    color: #C43333;
}
.ly_mediaVisual_infoBox_ttl {
    margin-top: 30px;
}
.ly_mediaVisual_infoBox_txt {
    margin-top: 10px;
}
.ly_mediaVisual_infoBox_moreBtn {
    margin-top: 25px;
}
.ly_mediaVisual_infoBox_languageBtn {
    margin-top: 40px;
}
.bl_mediaVisual_infoBox_btnWrapper {
    margin-top: 20px;
    text-align: right;
    margin-bottom: 20px;
}
.ly_mediaVisual_infoBox_btnWrapper1 {
    margin-top: -25px;
}
.ly_paginationBox {
    text-align: center;
    margin-top: 100px;
}
.ly_paginationBox_txt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bl_paginationBox_pagination {
    border: 1px solid;
    border-radius: 30px;
    display: block;
    width: 26px;
    margin: 0 5px;
}
.bl_paginationBox_pagination1 {
    background: #707070;
    color: #ffffff;
}