@import "settings";

.ly_media {
    margin-bottom: 90px;
}
.ly_sectionContents {
    margin-top: 15px;
}
.ly_media_inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 25px 25px;
}
.bl_media_ttl {
    font-size: 120px;
    border-bottom: 6px solid;
    line-height: 93px;
}
.bl_media_inner {
    background: #E8E8E8;
}
.ly_mediaImg {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.bl_mediaImg_imgBox img {
    max-width: 265px;
}
.bl_mediaImg_imgBox_catch {
    background: #C43333;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 3px 0;
}
.ly_mediaImg_txtBox_product {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.ly_mediaImg_txtBox {
    margin-left: 50px;
}
.bl_mediaImg_txtBox_productName {
    font-size: 32px;
    margin-bottom: 0;
}
.bl_mediaImg_txtBox_category {
    border: 1px solid;
    margin-left: 35px;
    margin-bottom: 5px;
}
.bl_mediaImg_txtBox_ttl {
    font-size: 16px;
    color: #C43333;
}
.ly_mediaImg_txtBox_ttl {
    margin-top: 30px;
}
.ly_mediaImg_txtBox_txt {
    margin-top: 10px;
}
.ly_mediaImg_txtBox_moreBtn {
    margin-top: 25px;
}
.ly_mediaImg_txtBox_languageBtn {
    margin-top: 40px;
}
.bl_mediaImg_txtBox_btnWrapper {
    margin-top: 20px;
    text-align: right;
    margin-bottom: 20px;
}
.ly_mediaImg_txtBox_btnWrapper1 {
    // margin-top: -25px;
    // margin-right: -50px;
}
.ly_paginationBox {
    text-align: center;
    margin-top: 100px;
}
.ly_paginationBox_txt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bl_paginationBox_pagination {
    border: 1px solid;
    border-radius: 30px;
    display: block;
    width: 26px;
    margin: 0 5px;
}
.bl_paginationBox_pagination1 {
    background: #707070;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .ly_media {
        margin-bottom: 50px;
    }
	.bl_media_ttl {
        font-size: 60px;
        border-bottom: 6px solid;
        line-height: 51px;
    }
    .ly_mediaImg {
        display: block;
    }
    .bl_mediaImg_imgBox_catch {
        width: 265px;
        margin: 0 auto;
    }
    .bl_mediaImg_imgBox {
        text-align: center;
    }
    .ly_mediaImg_txtBox {
        margin-left: 0;
        padding: 10px 27px;
    }
    .ly_mediaImg_txtBox_ttl {
        margin-top: 0;
    }
    .bl_mediaImg_txtBox_btnWrapper {
        text-align: center;
        margin-right: 0;
        margin-top: 60px;
    }
    .bl_mediaImg_txtBox_btnWrapper .bl_topAboutUs_btn {
        padding: 20px 56px;
    }
    .bl_paginationBox_pagination {
        width: 21px;
    }
}