@import "settings";

.ly_media {
    // margin-bottom: 90px;
}
.ly_sectionContents {
    margin-top: 15px;
}
.ly_media_inner {
    margin: 0 auto;
    max-width: 1200px;
    // padding: 25px 25px;
    @include mq(md) { 
        padding-left: 16px;
        padding-right: 16px;
              }
}
.bl_media_ttl {
    font-size: 120px;
    border-bottom: 6px solid;
    line-height: 93px;
}
.bl_media_inner {
    background: #E8E8E8;
}
.ly_mediaImg {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    padding: 1.5em 1.5em 2em;
    @include mq(md) { 
padding: 1.5em 0em;
      }
}
.bl_mediaImg_imgBox img {
    max-width: 265px;
    @include mq(md) { 
        max-width: 100%;
              }
}
.bl_mediaImg_imgBox_catch {
    background: #C43333;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 3px 0;
    width: 265px;
}
.ly_mediaImg_txtBox_product {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    @include mq(md) { 
        display: block;
              }
}
.ly_mediaImg_txtBox {
    margin-left: 50px;
}
.bl_mediaImg_txtBox_productName {
    font-size: 32px;
    margin-bottom: 0;
}
.bl_mediaImg_txtBox_category {
    border: 1px solid;
    margin-left: 35px;
    margin-bottom: 5px;
    padding: 0.2em;
    @include mq(md) { 
        display: inline-block;
        margin: 0;
              }
}
.bl_mediaImg_txtBox_ttl {
    font-size: 16px;
    color: #C43333;
    font-weight: bold;
}
.ly_mediaImg_txtBox_ttl {
    margin-top: 1.5em;
}
.ly_mediaImg_txtBox_txt {
    margin-top: 10px;
}
.ly_mediaImg_txtBox_moreBtn {
    margin-top: 25px;
    @include mq(md) { 
        text-align: center;
              }
}
.ly_mediaImg_txtBox_languageBtn {
    margin-top: 40px;
    @include mq(md) { 
        text-align: center;
              }
}
.bl_mediaImg_txtBox_btnWrapper {
    margin-top: 20px;
    text-align: right;
    margin-bottom: 20px;
    
}
.ly_mediaImg_txtBox_btnWrapper1 {
    // margin-top: -25px;
    // margin-right: -50px;
}
.ly_paginationBox {
    text-align: center;
    margin-top: 3em;
}
.ly_paginationBox_txt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bl_paginationBox_pagination {
    border: 1px solid;
    border-radius: 50%;
    display: block;
    width: 26px;
    margin: 0 5px;
}
.bl_paginationBox_pagination--active {
    background: #707070;
    color: #ffffff;
}
.bl_mediaProduct_btn{
	background-color: $cr-black;
	color: $cr-white;
	// padding: 20px 112px;
	padding: 4px 64px;
	transition: 0.8s;
	@include mq(sm) {
		padding: 4px 62px;
		// padding: 20px 62px;
	  }
}

.bl_mediaProduct_btn:hover{
	opacity: 0.8;
	background-color: $cr-white;
	color: $cr-black;
	// padding-top: 0;
	// padding-bottom: 0;
}
@media screen and (max-width: 767px) {
    // .bl_sectionContents .ly_media_inner{
    //     padding-left: 0;
    //     padding-right: 0;
    // }
    .ly_media {
        margin-bottom: 50px;
    }
	.bl_media_ttl {
        font-size: 60px;
        border-bottom: 6px solid;
        line-height: 51px;
    }
    .ly_mediaImg {
        display: block;
    }
    .bl_mediaImg_imgBox_catch {
        // width: 265px;
        margin: 0 auto;
    }
    .bl_mediaImg_imgBox {
        text-align: center;
    }
    .ly_mediaImg_txtBox {
        margin-left: 0;
        padding: 10px 16px;
    }
    .ly_mediaImg_txtBox_ttl {
        margin-top: 0;
    }
    .bl_mediaImg_txtBox_btnWrapper {
        text-align: center;
        margin-right: 0;
        margin-top: 5em;

    }
    .bl_mediaImg_txtBox_btnWrapper .bl_topAboutUs_btn {
        padding: 20px 0px;
        display: block;
    }
    .bl_paginationBox_pagination {
        width: 21px;
    }
}