@import "settings";

.ly_news_inner{
    padding-left: 16px;
    padding-right: 16px;
}
.un_news_list{
    padding-left: 24px;
    padding-right: 24px;
    @include mq(md) { 
        padding-left: 0px;
        padding-right: 0px;
              }
}
.un_news_item{
    margin-bottom: 1em;
    @include mq(md) { 
        margin-bottom: 2em;
              }
}


.un_news_item_link{
    display: flex;
    align-items: center;
    @include mq(md) { 
        display: block;
              }
}
.un_news_item_Tag{
    max-height: 28px;
    display: table;
    margin-right: 24px;
    width: 180px;
    text-align: center;
    @include mq(md) { 
        margin-bottom: 0.5em;
    }
}
.un_news_item_Tag.un_news_item_Tag--new{
    border-left: 4px solid #C43333;
}
.un_news_item_Tag.un_news_item_Tag--info{
    border-left: 4px solid #C4BF33;
}
.un_newsitem_date{
    margin-right: 28px;
    @include mq(md) { 
              }
}

.un_news_item_decoration {
    -webkit-transition: 0.2s;
    border-bottom: 1px solid #000;
    transition: 0.2s;
    width: 200px;
    margin-right: 24px;
}

.un_news_item_ttl{
    margin-bottom: 0;
}

.un_news_categoryList{
    display: flex;
}
.un_news_categoryItem{
    margin-right: 1em;
    margin-bottom: 3em;
    @include mq(md) { 
        margin-bottom: 2em;
    }
}