@import "settings";

.un_news_list{
    padding-left: 24px;
    padding-right: 24px;
}
.un_news_item{
    margin-bottom: 1em;
}


.un_news_item_link{
    display: flex;
    align-items: center;

}
.un_news_item_Tag{
    max-height: 28px;
    display: table;
    margin-right: 24px;
}

.un_newsitem_date{
    margin-right: 28px;
}

.un_news_item_decoration {
    -webkit-transition: 0.2s;
    border-bottom: 1px solid #000;
    transition: 0.2s;
    width: 200px;
    margin-right: 24px;
}

.un_news_item_ttl{
    margin-bottom: 0;
}

.un_news_categoryList{
    display: flex;
}
.un_news_categoryItem{
    margin-right: 1em;
    margin-bottom: 4em;
}