@import "settings";

.ly_item {
    margin-top: 100px;
}
.ly_sectionContents {
    margin-top: 15px;
}
.ly_item_inner {
    // padding: 25px 25px;
    @include mq(md) { 
        padding-left: 16px;
        padding-right: 16px;
              }
}
.bl_mainVisual_imgBox {
    position: relative;
}
.bl_mainVIsual_imgBox_ttl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 73px;
}
.bl_sectionLeadBox {
	font-size: 60px;
	font-weight: normal;
	line-height: 1.3;
	margin-bottom: 0.8em;
	margin-top: 1em;
}
.bl_sectionLeadBox_ttlIcon {
    font-size: 28px;
    background: #C43333;
    padding: 2px 15px;
    color: #ffffff;
}
.bl_sectionLeadBox_brand {
    font-size: 24px;
}
.bl_sectionLeadBox_ttl {
    display: block;
}
.bl_sectionLeadBox_brand {
    display: block;
}
.bl_sectionLead_txt {
    text-align: center;
    font-size: 34px;
    margin: 40px 0;
}
.bl_sectionLead_imgbox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.bl_sectionLead_imgbox a{
    display: block;
    padding: 4px 4px;
}
.ly_sectionCont {
    margin-top: 112px;
}
.bl_sectionCont_ttl {
    text-align: center;
    font-size: 60px;
    position: relative;
}
.bl_sectionCont_ttl::after {
    content: '';
    border-bottom: 1px solid #707070;
    width: 78px;
    position: absolute;
    bottom: 0%;
    left: 46%;
}
.ly_sectionDate_txtBox {
    margin-top: 50px;
}
.bl_sectionDate_txtBox_txt {
    border: 1px double #3C3C3C;
    outline: solid 1px #3C3C3C;
    outline-offset: 6px;
    padding: 12px;
    line-height: 30px;
    font-size: 22px;
}
.ly_sectionDate_bnrBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 53px auto 0;
    width: 79%;
}
.bl_sectionDate_bnrBox_bnr {
    padding: 11px 0;
}
.bl_sectionCations_tableBox_item {
    border: 1px solid #707070;
    border-collapse: collapse;
    padding: 10px 30px;
    font-size: 18px;
}
.bl_sectionCations_tableBox {
    border: 1px solid #707070;
    border-collapse: collapse;
    margin: 45px auto 0;
}
.ly_sectionGallery {
    margin-bottom: 160px;
}
.bl_sectionGallery_imgBox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 58px;
}
.bl_sectionGallery_imgBox_img {
    padding: 10px 5px;
    width: 25%;
}

// start_open
#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10,#img11 {
    display: none;
}
#leadImg1,#leadImg2,#leadImg3,#leadImg4,#leadImg5 {
    display: none;
}
.modaal-container{
    max-width: 20%;
    background: #191919;
}
.modaal-content-container {
    text-align: center;
}
.modaal-content-container img {
    width: 50%;
}
// start_open



@media screen and (max-width: 575px) {
    .modaal-content-container img {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .bl_mainVIsual_imgBox_ttl {
        font-size: 52px;
    }
    .bl_sectionLeadBox {
        font-size:38px;
        line-height: 1.4;
    }
    .bl_sectionLead_txt {
        font-size: 21px;
    }
    .bl_sectionLeadBox_brand {
        font-size: 18px;
    }

    .bl_sectionGallery_imgBox_img {
        width: 33%;
    }
    .bl_sectionCont_ttl {
        font-size: 38px;
    }
    .bl_sectionDate_txtBox_txt {
        font-size: 18px;
    }
    .ly_sectionDate_bnrBox {
        justify-content: center;
    }
    .bl_sectionDate_bnrBox_bnr {
        padding: 11px 10px;
    }
    .bl_sectionCations_tableBox_item {
        font-size: 14px;
    }
}

@media screen and (max-width: 575px) {
    .bl_mainVIsual_imgBox_ttl {
        font-size: 40px;
        line-height: 52px;
    }
    .bl_sectionCont_ttl::after {
        left: 41%;
    }
    .bl_sectionLead_imgbox_img {
        width: 50%;
    }
    .bl_sectionGallery_imgBox_img {
        width: 50%;
    }
    
}
