@import "settings";

.ly_ProductList_inner{
  @include mq(md) { 
    padding-left: 16px;
    padding-right: 16px;
  }
}
.bl_card_item_inner{
  box-shadow: 1px 1px 4px #eee;
}
.un_ProductList_thumb{
  position: relative;
  img{
    max-height: 218px;
    object-fit: cover;
  }
}

.un_ProductList_status{
  position: absolute;
bottom: 0;
  left: 0;
  background-color: #C43333;
  color: $cr-white;
  padding: 0.2em 1em;
}
.un_ProductList_description{
  font-size: 1.4rem;
}
.un_ProductDetail_text{
  padding: 0.75em 0.75em 0.4em;
min-height: 200px;
text-align: justify;
@include mq(md) { 
  min-height: 200px;
}
}

.un_ProductList_item_ttl{
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.4;
}

.un_ProductList_label{
  padding: 0.2em 1em;
  // display: inline-block;
  background: rgb(65,196,51);
  background: linear-gradient(90deg, rgba(65,196,51,1) 0%, rgba(255,255,255,1) 100%);
  // background-color: #41c433;
  color: #fff;
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

.un_ProductList_tagList{
  display: flex;
  margin-bottom: 0.5em;
  min-height: 1.5em;
  font-size: 1.5rem;
}
.un_ProductList_tagItem{
  padding-right: 1em;
  font-style: italic;
}
.un_ProductList_tagItem--laser{
	// color: transparent;
	// background: repeating-linear-gradient( 90deg, #4169e1 0 50%, #90CAF9 50% 100% );
	// -webkit-background-clip: text;
}
.ly_ProductList .el_lv2heading--1{
margin-top: 0.5em;
@include mq(md) { 
  font-size: 3rem;
}
}

.ly_ProductList .el_lv2heading--1:first-of-type{
  margin-top: 0.5em;
  }