@import "settings";


.bl_card_item_inner{
  box-shadow: 1px 1px 4px #eee;
}
.un_ProductDetail_thumb{
  position: relative;
}
.un_ProductDetail_status{
  position: absolute;
bottom: 0;
  left: 0;
  background-color: #C43333;
  color: $cr-white;
  padding: 0.2em 1em;
}
.un_ProductDetail_text{
  padding: 1em 1em;
min-height: 240px;
}

.un_ProductDetail_item_ttl{
  font-size: 2.8rem;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  font-weight: 500;
}

.un_ProductDetail_label{
  padding: 0.2em 1em;
  // display: inline-block;
  background: rgb(65,196,51);
  background: linear-gradient(90deg, rgba(65,196,51,1) 0%, rgba(255,255,255,1) 100%);
  // background-color: #41c433;
  color: #fff;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.un_ProductDetail_tagList{
  display: flex;
  margin-bottom: 1em;
}
.un_ProductDetail_tagItem{
  padding-right: 1em;
  font-style: italic;
}
.un_ProductDetail_tagItem--laser{
	// color: transparent;
	// background: repeating-linear-gradient( 90deg, #4169e1 0 50%, #90CAF9 50% 100% );
	// -webkit-background-clip: text;
}