@import "settings";

.hp_sp-br {
	display: block;
}
.hp_pc-br {
	display: inline;
}
.hp_textCenter {
	text-align: center;
}


.hp_spNone {
	display: none;
}

.hp_pcNone {
	display: block;
}

.hp_rowReverse {
	flex-direction: row-reverse;
}

.hp_textRight {
	text-align: right;
}

.hp_textLeft {
	text-align: left;
}



@media screen and (min-width: 768px) {
	.hp_spNone {
		display: block;
	}

	.hp_pcNone {
		display: none;
	}

	.hp_spBr {
		display: inline;
	}

	.hp_pcBr {
		display: block;
	}
}


.hp_en{
	font-family: 'Lora', serif;
}
.hp_ja{
	font-family: 'Shippori Mincho', serif;
}