@import "settings";

.bl_headerNavWrapper{
	// background-color: $cr-white;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	display: none;
	transition: 0.9;
	opacity: 1;
	overflow-y: scroll;
	@include mq(md) { 
overflow-y: scroll;
	  }
}
.bl_headerNavBg{
	transition: 0.3s;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $cr-white;
	opacity: 0;
	z-index: 999;
}

.active.bl_headerNavBg{
	opacity: 1;
	width: 100%;
	height: 100vh;
}
.bl_headerNavWrapper.active{
	display: block;
}



.bl_headerNavWrapper nav{
	min-width: 1024px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	// right: 20%;
	top: 50%;
	transform: translateY(-50%);
left: 20%;
opacity: 0;
transition: 0.9;
@include mq(md) { 
	display: block;
	min-width: auto;
  }
}


.bl_headerNavWrapper.active nav{
opacity: 1;
}