@import "settings";

.slick-slide {
  // max-width: 1260px;
}
.un_topSlider {
}
.un_topSlider .slick-list {
  padding: 0 20% 0 0 !important;
  @include mq(md) {
    padding: 0 0% 0 0 !important;
  }
}
.un_topSlider .slick-slide {
  margin: 0 0.1%;

  // margin-left: -40px;
  // box-sizing: border-box;
  // padding-right: 24px;
}
.un_topSlider img {
  width: 100%;
  object-fit: cover;
  height: 39vw;
  // width: 100%;
  @include mq(lg) {
    height: 48vw;
  }
  @include mq(md) {
    font-size: 3rem;
  }
}

.un_topSlider_item img {
  opacity: 0.8;
  // transition: 0.9s;
  // transition-delay: 0.4s;
}
.slick-current .un_topSlider_item img {
  opacity: 1;
}
.un_topSlider li figcaption {
  margin: 10px 0 0;
}

@media screen and (max-width: 640px) {
  .slider {
    width: 100%;
  }
}

.un_topSlider_item {
  position: relative;
}

.un_topSlider_item_txt {
  position: absolute;
  top: 20%;
  left: 12%;
  color: $cr-white;

  opacity: 0;
  transition: 0.9s;
  transition-delay: 0.9s;
}
.slick-current .un_topSlider_item_txt {
  opacity: 1;
  left: 10%;
}
.un_topSlider_item_ttl {
  font-size: 8rem;
  line-height: 1.2;
  font-style: italic;
}

.un_topSlider_item_tag {
  font-size: 3.2rem;
  display: block;
}

.un_topSlider_item_description {
  font-size: 2rem;
  line-height: func-divison(32, 20);
  margin-top: 50px;
  text-shadow: 1px 2px 3px #808080;
}

.next.slick-arrow {
  position: absolute;
  font-size: 2.6rem;
  border-radius: 50%;
  // border: 1px solid $cr-white;
  color: $cr-white;
  padding: 1.6em;
  line-height: 1;
  top: 40%;
  right: 24%;
  .bl_viewMore_btnCircle {
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover {
    // opacity: 0.6;
  }

  .bl_viewMore_btnCircleBg {
    position: absolute;
    left: 0;
    top: 0;
  }
  .bl_viewMore_btnCircleBg circle {
    fill: transparent;
    stroke: #787878;
    stroke-width: 1;

    stroke-dasharray: 366 366;
    stroke-dashoffset: 0;
    /* keyframes名 速さ 繰り返し 開始までの間隔 */
  }
  .bl_viewMore_btnCircle {
    transform: rotate(-90deg);
  }

  .bl_viewMore_btnCircle circle {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1;
    transition: stroke-dashoffset 2.4s ease;

    stroke-dasharray: 366 366;
    stroke-dashoffset: 366;
    /* keyframes名 速さ 繰り返し 開始までの間隔 */
  }
}

.next.slick-arrow:hover .bl_viewMore_btnCircle circle {
  // animation: circle 2s infinite 3s;
  stroke-dasharray: 366 366;
  stroke-dashoffset: 0;
  stroke: $cr-white;
  stroke: #fff;
}

/*---------------------------------
  スライド数
---------------------------------*/
.slick-num {
  text-align: right;
  padding-right: 15.8vw;
  position: relative;
}
.slick_nowCount::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(110%, -50%);
  margin-top: 1px;

  animation: pathmove 1.9s ease-in-out infinite;
  animation-delay: 2s;
  background-color: $cr-black;
  width: 68px;
  height: 1px;
  display: inline-block;
}
.slick_nowCount {
  position: relative;
  margin-right: 80px;
}
.slick_nowCountBar {
  background-color: $cr-black;
  // width: 68px;
  height: 1px;
  display: inline-block;
  margin-top: -1px;
  position: relative;
  top: -5px;
  animation: pathmove 1.4s ease-in-out infinite;
}

@keyframes pathmove {
  0% {
    width: 0;
    opacity: 1;
  }
  30% {
    width: 68px;
    opacity: 0;
  }
  100% {
    width: 68px;
    opacity: 1;
  }
}
