@import "settings";

.bl_article{
    background-color: #E8E8E8;
    padding: 1.5em;
}
.bl_article_container{
    display: flex;
}
.bl_article_thumbWrapper{
    flex: 1;
}
.bl_article_contents{
    flex: 3;
    padding-left: 50px;
}
.bl_article_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // align-items: center;
}

.bl_article_title{
    font-size: 2.8rem;
    font-weight: bolder;
}

.bl_article_ctaegory span{
    border: 1px solid;
    margin-bottom: 5px;
    margin-left: 35px;
    padding: 0.2em;
}

.bl_article_catch{
    margin-top: 10px;
}

.bl_article_btnLIst{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}