@import "settings";


.bl_viewMore_btn{
    position: relative;
    transition-delay: 0.9s;
    transition: 0.8s;
}
.bl_viewMore_btn::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $cr-black;
    transition-delay: 0.8s;
    transition: 0.5s;
}

.bl_viewMore_btn:hover::after{
    width: 100%;
    // transition-delay: 0.1s;
    // transition: 0.5s;


    // transition: 0.9;

}
.bl_viewMore_btnCircleBg{
    position: absolute;
    left: -48px;
    top: -40px;
}
.bl_viewMore_btnCircleBg circle {
    fill: transparent;
    stroke: #d9d9d9;
    stroke-width: 1;

    stroke-dasharray: 366 366;
    stroke-dashoffset: 0;
    /* keyframes名 速さ 繰り返し 開始までの間隔 */
}

.bl_viewMore_btnCircle{
    position: absolute;
    left: -48px;
    top: -40px;
}

.bl_viewMore_btnCircle {
    transform: rotate(-90deg);
}

.bl_viewMore_btnCircle circle {
    fill: transparent;
    stroke: #b4b4b4;
    stroke-width: 1;
    transition: stroke-dashoffset 2.4s ease;

    stroke-dasharray: 366 366;
    stroke-dashoffset: 366;
    /* keyframes名 速さ 繰り返し 開始までの間隔 */
}

.bl_viewMore_btn:hover .bl_viewMore_btnCircle circle {

    // animation: circle 2s infinite 3s;
     stroke-dasharray: 366 366;
     stroke-dashoffset: 0;
     stroke: #545454;
}

@keyframes circle {
    0% {
        stroke-dasharray: 0 366;
    }

    99.9%,
    to {
        stroke-dasharray: 366 366;
    }
}