@import "settings";

.cards__item{
    margin-bottom: 1.25em;
    .card__img-wrapper{
   
    }

    .card__img-wrapper img{
        object-fit: cover;
        vertical-align: bottom;
    }

    .card__body{
        background-color: #fff;
        padding-top: func-em(25px,16px);
        padding-right: func-em(22px,16px);
        padding-left: func-em(22px,16px);
        padding-bottom: func-em(27px,16px);
    }

    .card__title{
        font-size: 2.4rem;
    }

    .card__text{
        margin-bottom: func-em(24px,16px);
    }

    .card__btn{
        text-align: right;
    }

}

