/*---------------------------------
  commonTitle
---------------------------------*/

.el_lv1heading {
    position: relative;
}
.el_lv1heading--1{
    font-size: 120px;
    font-weight: normal;
    margin-bottom: 0.8em;
    line-height: 1;
    margin-top: 1em;
    
    @include mq(md) { 
        margin-top: 2em;
        font-size: 15vw;
    }
      
}
.el_lv1heading--1::after{
    content: "";
    position: absolute;
    bottom: 0;
    transform: translateY(-12px);
    left: 6px;
    width: calc(100% - 18px);
    height: 5px;
    background-color: #3c3c3c;
    @include mq(md) {
        width: 100%;
        left: 0; 
        height: 3px;
        transform: translateY(-6px);
    }
}

.el_lv2heading--1 {
	font-size: 6rem;
	line-height: 1;
	margin-bottom: 0.2em;
    padding: 0 6.7%;
    @include mq(md) { 
        font-size: 13vw;
        padding-right: 0;
    }
}
.el_lv2headingDecoration-en{
    display: block;
    position: relative;
    width: 100%;
}
.el_lv2headingDecoration-en::before {
    background-color: #707070;
    content: "";
    height: 1px;
    left: -7.7%;
    position: absolute;
    top: 50%;
    width: 6.6%;
}
.el_lv2headingDecoration-ja{
	display: block;
	line-height: 1;
	font-size: 1.2rem;
	padding: 1em;
}

.el_lv3headding.el_lv3headding--small{
    font-size: 2.4rem;
}