@import "settings";

.ly_header {
	padding-top: 30px;
	// border-bottom: 1px solid #ddd;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	width: 100%;
	top: 0;
	// box-shadow:  0px 0px 2px;
  }

  .ly_subheader{
	// box-shadow:  0 1px 2px;
	padding-bottom: 20px;
  }
  .ly_subheader .bl_headerUtils{
margin-bottom: 0;
  }

  
  .ly_header_inner {
	max-width: 1640px;
	padding-right: 40px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
	@include mq(sm) { 
padding-left: 16px;
padding-right: 16px;
	  }
  }
  
  .bl_headerUtils {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
	@include mq(sm) { 
		flex-direction: row-reverse;
		margin-bottom: 0;
		margin-bottom: 20px;
	  }
  }
  
  .bl_headerUtils_logo {
	width: 150px;

	@include mq(sm) { 
		width: 100px;
		margin-left: initial;
	  }
  }
//   .bl_headerUtils_logo img{
// 	width: 220px;
//   }
  
  .bl_headerUtils .el_btn {
	width: auto;
	padding: 10px 20px;
	box-shadow: none;
  }
  
  .bl_headerNav {
	  flex: 1;
	// display: flex;
	// justify-content: space-around;
  }
  .bl_headerNav:first-of-type {
	// margin-right: 140px;
	@include mq(md) { 
margin-right: 0;
	  }
  }
  .bl_headerNav_item {
	flex-grow: 1;
	margin-bottom: 1.2em;
	@include mq(sm) { 
		font-size: 1.6rem;
		margin-bottom: 0.6em;
	  }
  }
  
  .bl_headerNav_item:last-child .bl_headerNav_link::after {
	content: none;
  }
  
  .bl_headerNav_link {
	position: relative;
	display: inline-block;
	border-bottom: 1px solid $cr-black;
	color: #222;
	text-decoration: none;
	transition: .25s;
	font-size: 2.4rem;
	@include mq(sm) { 
		font-size: 1.8rem;
	  }
  }
  
  .bl_headerNav_link:focus,
  .bl_headerNav_link:hover {
	// border-bottom-color: #e25c00;
  }

  .bl_headerChildNav{
	margin-left: 1.25em;
	display: flex;
	flex-wrap: wrap;
	max-width: 480px;
	@include mq(sm) { 
		max-width: 300px;
	  }
  }
  .bl_headerChildNav_item{
	//   width: 25%;
	margin-right: 28px;
	@include mq(sm) { 
		margin-right: 16px;
	  }
  }
  .bl_headerChildNav_link{
	  font-size: 1.8rem;
	  white-space: nowrap;
	  @include mq(lg) { 
		font-size: 1.6rem;
	  }
	  @include mq(sm) { 
		font-size: 1.4rem;
	  }
  }
  .bl_headerChildNav_ttl{
	  position: relative;
	  margin-left: 1.25em;
	  font-size: 1.8rem;
	  margin-top: 0.5em;
  }
  .bl_headerChildNav_ttl span{
	  position: relative;
	  display: block;
  }
  /*
  .bl_headerChildNav_ttl span::after{
	content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-150%, -50%);
  width: 12px;
  height: 1px;
  background-color: $cr-black;
}*/

/* プラスアイコン */
/* ２本の線を.icon-wrapの中央に並行に重ねる */
.bl_headerChildNav_ttl span:before,
.bl_headerChildNav_ttl span:after {
  position: absolute;
  content: "";
  display: block;
  transition: all 0.4s;
  background: #000;
  left: -10px;
  top: 50%;
  width: 12px;
  height: 1px;
  transform: translate(-50%, -50%);
}
/* そのうち1本を縦にする */
.bl_headerChildNav_ttl span:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* プラスアイコンクリック後、マイナスにする */
.bl_headerChildNav_ttl span.open:before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.bl_headerChildNav--language{
	margin-top: 1em;
}
.bl_headerNav_item--language{
	margin-top: 8em;
	@include mq(md) { 
		margin-top: 2em;
	  }
	  @include mq(sm) { 
		margin-top: 1em;
	  }
}
.bl_headerNav_logo{
	position: absolute;
	left: 2%;
	top: 10%;
}
//   .bl_headerNav_link::after {
// 	content: '';
// 	position: absolute;
// 	top: 50%;
// 	right: 0;
// 	width: 1px;
// 	height: 20px;
// 	background-color: #ddd;
// 	transform: translateY(-50%);
//   }
  .js_diff_nav{

  }