.lv2-ttl{
	box-sizing: border-box;
	border-radius: 36px;
	background: #53585f;
	padding: 10px 42px;
	color: #fff;
	display: inline-block;
}


.lv3-ttl{
	font-size: 2.4rem;
}

.lv3-ttl__under-line{
	border-bottom: 1px solid #0247B9;
	padding-bottom: 0.25em;
	display: inline-block;
}